.skill-group {
  margin-bottom: 10px; /* Регулируйте размер отступа по своему усмотрению */
}

.ui.skill-label {
    margin-bottom: 6px !important;
}

.tags {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
}