.profile-links {
    /* margin-left: 15px; */
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.profile-links i.small.icon, i.small.icons {
    line-height: 1;
    font-size: 1.15em;
}